<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDDUP6PH44Mz8jWh9lUTu3jvmknyRsOxM</string>
	<key>GCM_SENDER_ID</key>
	<string>861554393768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabak22FirebaseWithData</string>
	<key>PROJECT_ID</key>
	<string>mydb-b43ea</string>
	<key>STORAGE_BUCKET</key>
	<string>mydb-b43ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861554393768:ios:e1f10eafaa8c6979df789d</string>
</dict>
</plist>